<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>product</key>
    <string>DropMesh</string>
    <key>bundleIdentifier</key>
    <string>com.zensystech.dropmesh</string>
    <key>applicationIdentifier</key>
    <string>XKAZ67HN45.com.zensystech.dropmesh</string>
    <key>teamID</key>
    <string>XKAZ67HN45</string>
    <key>sku</key>
    <string>dropmesh-macos-130</string>
    <key>appStoreID</key>
    <string>6809209993</string>
    <key>developmentProfileUUID</key>
    <string>c6673df6-8824-40f4-a117-1ddbae4d4a6c</string>
    <key>distributionProfileUUID</key>
    <string>926d4f74-8df1-403a-b5d7-4036198e6fef</string>
</dict>
</plist>
